.wrapper {
    margin-bottom: 8px;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    width: 100%;
    max-width: 340px;
    height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }

    &:active {
        background-color: rgba(22, 24, 35, .06);
    }
    &.active {
        color: var(--primary);
    }
}

.title {
    margin-left: 8px;
}