@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-line-border-primary {
        @apply min-w-[96px] h-9 px-5 py-1 
        rounded-[2px] border-[#fe2c55] border 
        inline-flex justify-center items-center
        text-[#fe2c55] font-semibold
        hover:bg-[#fe2c5514];
    }

    .btn-follow-fullfill {
        @apply min-w-[208px] h-9 px-12 py-1 
        rounded-[4px]
        inline-flex justify-center items-center
        text-[#ffff] font-semibold text-lg
        bg-[#fe2c55];
    }

    .btn-line-border-black {
        @apply min-w-[96px] h-9 px-5 py-1 
        rounded-[2px] border-[#fe2c55] border 
        inline-flex justify-center items-center
        text-[#fe2c55] font-semibold
        hover:bg-[#fe2c5514] 
        text-[#161823] border-[#1618231f] bg-[#fff] hover:bg-[#f5f5f5];
    }
}

.btn-follow-fullfill:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;;
}