.wrapper {
    max-width: 348px;
    height: calc(100vh - var(--default-layout-header-height, 60px));
    overflow-y: scroll;
    position: relative;
    margin-right: 6px;
}

.sidebar-inner {
    padding: 20px 0 26px 8px;
    // width: 232px;
    width: 238px;
    max-width: 348px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: var(--default-layout-header-height, 60px);
}

.sidebar-inner::-webkit-scrollbar {
    width: 6px;
    // display: none;
}

.sidebar-inner:hover {
    .wrapper::-webkit-scrollbar {
        display: block;
    }
}

.menu {
    position: relative;
}

.menu::before {
    content: "";
    width: calc(100% - 16px);
    height: 1px;
    position: absolute;
    bottom: -8px;
    left: 8px;
    background-color: #1618231f;
    transform: scaleY(0.5);
}
